:root {
	--dark-light: #252f3f;
	--red: #252f3f;
	--yellow: #252f3f;
	--grey: #ecedf3;
}

/* #Primary
================================================== */


::selection {
	color: var(--white);
	background-color: var(--black);
}
::-moz-selection {
	color: var(--white);
	background-color: var(--black);
}
mark{
	color: var(--white);
	background-color: var(--black);
}
.section {
  position: relative;
	display: block;
	text-align: center;

}
.over-hide {
    overflow: hidden;
}
.z-bigger {
    z-index: 100 !important;
}

[type="radio"]:checked,
[type="radio"]:not(:checked){
	position: absolute;
	left: -9999px;
	width: 0;
	height: 0;
	visibility: hidden;
}

.checkbox-tools:checked + label,
.checkbox-tools:not(:checked) + label{
	position: relative;
	display: inline-block;
	padding: 10px;
	font-size: 12px;
	line-height: 15px;
	letter-spacing: 1px;
	margin: 0 auto;
	margin-left: 5px;
	margin-right: 5px;
	text-align: center;
	border-radius: 5px;
	overflow: hidden;
	cursor: pointer;
	text-transform: uppercase;
	color: var(--white);

}
.checkbox-tools:not(:checked) + label{
	background-color: var(--dark-light);
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
.checkbox-tools:checked + label{
  background-color: transparent;
  border: #E2E8F0 solid 2px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
.checkbox-tools:not(:checked) + label:hover{
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
